html{
    width: 100%;
     
    
}

body{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}
a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}
button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    
}



/* logo, links title and image*/
.a{
    background-color: #1f2937;  
    display: flex;
    flex:2 0 auto;
    flex-flow: column;
    justify-content: space-between;
    align-items: space-between;

    

}

.a-a{
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
}

.a-a-a{
    font-size: 24px;
    color: #f9faf8;
    padding-left: 48px;
}
.a-a-b{
    padding-right: 48px;
}
.a-b{
    padding: 36px;
    display:flex;
    flex-flow: row;
    justify-content: space-around;
    
}

.a-b-b{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}
.a-b-c{
    align-self: center;
    justify-content: center;
    color: #f9faf8; 
}
.a-b-b-a{
    font-size: 48px;
    color: #f9faf8;
    
    
}
.a-b-b-b{

    font-size: 18px;
    color: #e5e7eb;
    
    
}

/* Second section-title and four divs */

.b{
    margin: 36px;
    padding: 36px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    
}

.b-a{
    font-size: 36px;
    font-style: bold;
    color: #1f2937;
    align-self: center;
    padding: 24px;
}

.b-b{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.b-b-a{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.b-b-b{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.b-b-c{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.b-b-d{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.b-b-a-a{
    border: 2px solid #3882f6;
    border-radius: 5px;
    padding:36px;
    
}

.b-b-b-a{
    border: 2px solid #3882f6;
    border-radius: 5px;
    padding:36px;
}
.b-b-c-a{
    border: 2px solid #3882f6;
    border-radius: 5px;
    padding:36px;
}
.b-b-d-a{
    border: 2px solid #3882f6;
    border-radius: 5px;
    padding:36px;
}


/* qoute */
.c{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 36px;
    padding: 36px;
}

/*footer*/

.d{
    font-size:18px;
    background-color: #1f2937;  
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.d-a{
    background-color: #3882f6;
    color: #f9faf8;
    padding: 15px;
    margin:24px;
    padding: 24px;
}

.d-a-a{

}
.button2{
    align-self: center;
    flex-basis: 100px;
    height: 36px;
}